<<<<<<< HEAD
* {
=======
body {
>>>>>>> b10b3974a96aa166a43682427bc46eeffc7609bd
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  background-color: #2b2929;
  font-family: 'Poppins', sans-serif;
}
.navbar .container {
  position: relative;
}
.navbar-nav {
  margin-left: auto;
}

.nav-link {
  margin-right: 32px;
  font-size: 18px;
}
.nav-link:hover::after {
  content: '';
  display: block;
  border-bottom: 3px solid #0b63dc;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}
.nav-link .active :hover::after {
  font-weight: bold;
}
.lead {
  margin-top: 32px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

/* Jumbotron Landingpage */
.jumbotron-content {
  margin-top: 120px;
  min-height: 768px;
}
#portfolio {
  background-color: #c0bfbf;
}
.jumbotron-content .display-4 {
  padding-top: 120px;
}
.images-portofolio img {
  padding-top: 120px;
}
.Port {
  font-size: 48px;
  margin-top: 125px;
}
.images-long {
  padding-left: 950px;
  margin-top: -30px;
}
.images-long-2 {
  padding-right: 950px;
  margin-top: -30px;
}

.card {
  width: 300px;
  height: 300px;
  background: transparent;
  border: none;
}
.card .tombol {
  margin-top: 32px;
  font-size: 16px;
}

.card-img-overlay {
  padding-top: 180px;
}
.lead-port {
  font-size: 10px;
  width: 124px;
  height: 37px;
  border-radius: 10px;
  border: none;
}

.cards {
  margin-top: 120px;
}
#experience {
  margin-top: -150px;
  min-height: 1283.81px;
}
.container-experience .content-creator {
  margin-top: 168px;
}
.order-4 {
  margin-top: 172px;
}
.order-5 {
  margin-top: 50px;
}

.container-experience h2 {
  font-size: 18px;
}

/* Jumbotron Video */
.jumbotron-video {
  background-image: url('/Images/Videographer\ Cover.jpg');
  background-size: cover;
  min-height: 867px;
  opacity: 97%;
  text-align: center;
  color: #fff;
  position: relative;
}
.jumbotron-video .container {
  z-index: 1;
  position: relative;
}

.jumbotron-video::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}
.jumbotron-video p {
  margin-top: 32px;
}
.jumbotron-video .display-4 {
  font-family: 'Poppins', sans-serif;
  padding-top: 218px;
}
.jumbotron-content .btn {
  width: 178px;
  height: 45px;

  background: linear-gradient(to right, #1d52ce, #fcf8f8);
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border: none;
  margin-top: 32px;
}

/* Jumbotron Social Media */
.social {
  margin-top: 32px;
  text-shadow: 3px 2px 1px grey;
}

/* Container Video */
.row-video {
  margin-top: -200px;
  z-index: 1;
  position: relative;
}
.row-container .tengah {
  margin: 0 18px;
}
.row-container .kiri {
  margin-left: 300px;
}

/* /* About all video  */
.swiper-wrapper {
  margin-top: -220px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  width: 260px;
  height: 368px;

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.swiper-slide {
  border-radius: 20px;
}
.tombol {
  background: linear-gradient(to right, #1d52ce, #fcf8f8);
  width: 178px;
  height: 45px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.card-video {
  border-radius: 20px;
  width: 260px;
  height: 368px;
  border-radius: 20px;
  background: #fff;
}
.row-all-video {
  margin-top: 88px;
}

.text-video {
  margin-top: 56px;
}
.img-video {
  margin-top: 19px;
}
.img-fluid {
  border-radius: 20px;
}
/* slider ke-2 */

.row-all-video-2 {
  margin-top: 120px;
}
/* Akhir Page Videographer */

/* Page Grapich Designer */
.container-graphic {
  margin-top: 74px;
}
.container-graphic p {
  margin-top: 78px;
}
.text-kanan h3 {
  margin-top: 8px;
}
.text-kiri h3 {
  margin-top: 12px;
}

/* Container graphic */
.images-graphic-1 {
  width: 336px;
  height: 315px;
  background-color: #d6d6d6;
  border-radius: 10px;
}
.images-graphic-2 {
  width: 336px;
  height: 315px;
  border-radius: 10px;
  background-color: #d6d6d6;
}
.images-graphic-3 {
  width: 336px;
  height: 315px;
  border-radius: 10px;
  background-color: #d6d6d6;
}

/* Akhir Graphic Designer */

/* container-UI */
.container-UI {
  margin-top: 120px;
}

.text-UI p {
  font-size: 24px;
  margin-top: 12px;
  font-weight: 400;
}
.tombol-UI {
  margin-top: 32px;
  cursor: pointer;
}
.images-AR {
  width: 1440px;
  margin-left: -420px;
  margin-top: -200px;
}
.UI-AR {
  margin-top: 120px;
}
.text-ikie {
  margin-top: 451px;
}
.text-ikie h2 {
  font-size: 48px;
  font-weight: 600;
}
.text-ikie p {
  font-size: 18px;
  font-weight: 400;
}
.text-ikie-2 p {
  margin-top: 511px;
  font-size: 18px;
  margin-left: 120px;
  font-weight: 400;
}

.UI-banana img {
  width: 940px;
}
.text-banana {
  margin-top: 504px;
}
.text-banana h2 {
  font-size: 48px;
  font-weight: 600;
}
.text-p {
  font-size: 18px;
  font-weight: 400;
}

/* kotak kotak */
.kotak-kotak {
  width: 120px;
  height: 120px;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.kotakrow {
  width: 120px;
  height: 120px;
}
.kotak2 {
  width: 120px;
  height: 120px;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
/* Jumbotron Photografer */
.slide1 {
  min-width: 100%;
  min-height: 764.6px;
}
/* kalimat photografer */
.kalimat {
  margin-top: 240px;
}
.foto {
  padding-top: 140px;
}
.foto2 {
  min-width: 100%;
  min-height: 764.6px;
  background-color: #b4b3b3;
}
.foto3 {
  min-width: 100%;
  min-height: 764.6px;
}
.foto4 {
  min-width: 100%;
  min-height: 764.6px;
  background-color: #b4b3b3;
}
.kalimat2 {
  margin-left: 180px;
  margin-right: 120px;
}
.kalimat3 {
  margin-right: 140px;
  margin-top: 150px;
}
.kalimat4 {
  margin-top: 280px;
  margin-right: 120px;
  margin-left: 160px;
}
.kalimat5 {
  padding-top: 120px;
  margin-left: 120px;
  margin-right: 120px;
}
.kalimat2 h2 {
  margin-top: 250px;
}
/* H1 Foto photografer */
.foto {
  margin-top: 72px;
}
/* Footer */
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* Demo Slider */

/* Akhir Demo Slider */

.codemi {
  margin-bottom: 80px;
}

/* Media Queryu */
@media (min-width: 1400px) {
}
